#
#Wed Mar 14 15:22:50 EET 2018
search.post.handler=ArangoSearchHandler
search.post=SearchPostsCommand
search.job.handler=ArangoSearchHandler
search.company=SearchCompaniesCommand
search.user=SearchUserCommand
search.job=SearchJobsCommand
search.user.handler=ArangoSearchHandler
search.company.handler=ArangoSearchHandler
