#
#Thu May 03 16:43:21 EET 2018
search.test=testCommand
search.post.handler=ArangoSearchHandler
search.post=SearchPostsCommand
search.test.handler=ArangoSearchHandler
search.job.handler=ArangoSearchHandler
search.company=SearchCompaniesCommand
search.user=SearchUserCommand
search.job=SearchJobsCommand
search.user.handler=ArangoSearchHandler
search.company.handler=ArangoSearchHandler
